target/
!.mvn/wrapper/maven-wrapper.jar

### General Stuff ###
*.log
log
logs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

docker-compose-dev.yml
dependency-reduced-pom.xml

gh-pages